<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.risk.dal.credit.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.risk.dal.credit.entity.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="providerCode" jdbcType="INTEGER" property="providercode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="marketPrice" jdbcType="DECIMAL" property="marketprice" />
    <result column="specialPrice" jdbcType="DECIMAL" property="specialprice" />
    <result column="costPrice" jdbcType="DECIMAL" property="costprice" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="feeType" jdbcType="SMALLINT" property="feetype" />
    <result column="infoType" jdbcType="VARCHAR" property="infotype" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="operName" jdbcType="VARCHAR" property="opername" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, providerCode, name, marketPrice, specialPrice, costPrice, status, feeType, infoType, 
    description, operName, createTime, updateTime
  </sql>


  <select id="queryAllActiveProduct" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from r_product
    where status = 1
  </select>

  <!--
  <insert id="insert" parameterType="com.risk.dal.credit.entity.Product">
    insert into r_product (id, providerCode, name, 
      marketPrice, specialPrice, costPrice, 
      status, feeType, infoType, 
      description, operName, createTime, 
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{providercode,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{marketprice,jdbcType=DECIMAL}, #{specialprice,jdbcType=DECIMAL}, #{costprice,jdbcType=DECIMAL}, 
      #{status,jdbcType=SMALLINT}, #{feetype,jdbcType=SMALLINT}, #{infotype,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{opername,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.risk.dal.credit.entity.Product">
    insert into r_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="providercode != null">
        providerCode,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="marketprice != null">
        marketPrice,
      </if>
      <if test="specialprice != null">
        specialPrice,
      </if>
      <if test="costprice != null">
        costPrice,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="feetype != null">
        feeType,
      </if>
      <if test="infotype != null">
        infoType,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="opername != null">
        operName,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="providercode != null">
        #{providercode,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="marketprice != null">
        #{marketprice,jdbcType=DECIMAL},
      </if>
      <if test="specialprice != null">
        #{specialprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="feetype != null">
        #{feetype,jdbcType=SMALLINT},
      </if>
      <if test="infotype != null">
        #{infotype,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="opername != null">
        #{opername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.risk.dal.credit.entity.Product">
    update r_product
    <set>
      <if test="providercode != null">
        providerCode = #{providercode,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="marketprice != null">
        marketPrice = #{marketprice,jdbcType=DECIMAL},
      </if>
      <if test="specialprice != null">
        specialPrice = #{specialprice,jdbcType=DECIMAL},
      </if>
      <if test="costprice != null">
        costPrice = #{costprice,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="feetype != null">
        feeType = #{feetype,jdbcType=SMALLINT},
      </if>
      <if test="infotype != null">
        infoType = #{infotype,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="opername != null">
        operName = #{opername,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.risk.dal.credit.entity.Product">
    update r_product
    set providerCode = #{providercode,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      marketPrice = #{marketprice,jdbcType=DECIMAL},
      specialPrice = #{specialprice,jdbcType=DECIMAL},
      costPrice = #{costprice,jdbcType=DECIMAL},
      status = #{status,jdbcType=SMALLINT},
      feeType = #{feetype,jdbcType=SMALLINT},
      infoType = #{infotype,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      operName = #{opername,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  -->
</mapper>